body{
    background-color: azure;
}

.meio{
    background-color: aquamarine;

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    
    width: 300px;
    
}

h1{
    font-style: italic;
}