body{
    margin: 0;
    padding: 0;
    background-color: rgb(26, 28, 28);
}

.topo{
    width: 100%;
    height: 100px;
    background-color: #4775c0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}