body{
    margin: 0;
    padding: 0;
    background-color: rgb(26, 28, 28);
    height: 100%;
    width: 100%;
}

.topo{
    width: 100vw;
    height: 100px;
    background-color: #5086dd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}
.logo img{
    width: 80px;
    height: 80px;
}
.menus{
    background-color: rgb(32, 31, 31);
    height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    box-sizing: border-box;
}
h3{
    background-color: #5086dd;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cliente, .produto, .pedido{
    background-color: #ffffff;
    width: 450px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
li{margin-bottom: 20px;}